* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
}
.header {
  width: 100%;
  height: 20%;
  background-color: #facfec;
  color: #5e070b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 2.4rem;
}
.name-text {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: Kairos-sans;
}
.status {
  font-family: Helvetica-Medium;
  font-size: 1rem;
}
.hero-section {
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
}
.section {
  text-align: center;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-family: Helvetica-Medium;
}
.about-me-description{
  font-family: Kairos-sans;
  font-size: 1.2rem;
  font-weight: 700;
}
.about-me-section {
  background-color: #cffad1;
  color: #092c0c;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.education-section {
  background-color: #cfdefa;
  color: #122b4f;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skills-section {
  background-color: #c9a4ff;
  color: #4a0071;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-section {
  background-color: #f9ff82;
  color: #383b00;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-me-section {
  background-color: #facfcf;
  color: #a50000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading{
  font-family: Helvetica-Medium;
}
.content {
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 100;
  font-family: Kairos-sans;
}
.content:hover{
  background-color: rgb(255, 219, 219);
}
.footer {
  width: 100%;
  height: 5%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gilroy-Bold;
}

/* Medium Screen  */
@media (min-width: 768px) {
  .name-text {
    font-family: "Kairos-sans";
    text-transform: uppercase;
    font-size: 3.6rem;
  }
  .status {
    font-size: 1.2rem;
  }
  .section {
    text-align: center;
    width: 70%;
    padding: 30px 40px;
    border-radius: 10px;
    font-family: Helvetica-Medium;
  }
}
