
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

/* Container */
body {
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: Kairos-sans;
  background: url("./assets/Images/mesh gradient 2.jpeg");
  background-size: cover;
  background-position: bottom;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Buttons */
.btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-family: Gilroy-Bold;    
}

.btn-v1 {
  background-color: #2563eb;
  color: white;
}

.btn-v1:hover {
  background-color: #1d4ed8;
}

.btn-v2 {
  background-color: #22c55e;
  color: white;
}

.btn-v2:hover {
  background-color: #16a34a;
}

.btn-v3 {
  background-color: #a855f7;
  color: white;
}

.btn-v3:hover {
  background-color: #9333ea;
}

/* Responsive */
@media (min-width: 768px) {
  .button-group {
    flex-direction: row;
  }
  .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-family: Gilroy-Bold;
  }
}
