@font-face {
  font-family: "Breathing-Text";
  src: url("./assets/fonts/BreathingPersonalUse-MVOGJ.ttf");
}

:root {
  --bgcolor: #f9f0d9;
  --bottom-border: 6px solid rgb(97, 66, 0);
  --top-border: 6px solid rgb(97, 66, 0);
  --right-border: 6px solid rgb(97, 66, 0);
  --left-border: 6px solid rgb(97, 66, 0);
  --primary-text-color: rgb(62, 62, 62);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}
body::selection{
  color: white;
  background-color: black;
}
section {
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor);
}
/* Reusable bottom Part for all pages  */
section .bottom {
    width: 100%;
    height: 10%;
    color: var(--primary-text-color);
    display: flex;
    font-size: 0.9rem;
    border-bottom: var(--bottom-border);

    .left {
      width: 18%;
      height: 100%;
      /* background-color: red; */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      border-right: var(--right-border);
    }
    .right {
      width: 10%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      /* background-color: red; */
      border-left: var(--left-border);
    }
    .middle {
      width: 72%;
      height: 100%;
      /* background-color: blue; */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .middle h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      letter-spacing: -0.7px;
    }
}
section .view1 {
  width: 100%;
  height: 100%;
  .top {
    width: 100%;
    height: 10%;
  }
  .hero-section {
    width: 100%;
    height: 80%;
    /* background-color: red; */
    border-bottom: var(--top-border);
    border-top: var(--top-border);
    display: flex;
    .left-part {
      width: 22%;
      height: 100%;
      border-right: var(--right-border);
      /* background-color: blue; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .my-image-area,
      .my-name-area {
        width: 80%;
      }

      .my-image-area {
        height: 70%;
        /* background-color: red; */
      }
      .my-image-area img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      .my-image-area img:hover {
        color: red;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transition: all 0.3s ease-in-out;
      }
      .my-name-area {
        height: 20%;
        /* background-color: yellow; */
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0.9;
        text-align: center;
        letter-spacing: -2px;
        font-size: 1.5rem;
        align-items: center;
        color: rgb(62, 62, 62);
        h1 .special-letter {
          color: black;
          font-family: "Breathing-Text";
          font-size: 1.8rem;
        }
      }
    }
    .right-part {
      width: 78%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      /* background-color: green; */
      position: relative;
      .image-container-for-style {
        width: 100%;
        height: 100%;
        position: absolute;
        /* background-color: red; */
        z-index: 10;
        .image-layer {
          display: flex;
          width: 100%;
          height: 33.33%;
          .image-box {
            width: 17%;
            height: 100%;
            /* border-right: 5px solid black; */
            /* border-bottom: 5px solid black; */
            /* background-color: greenyellow; */
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              opacity: 0;
              transform: scale(1);
              transition: all 0.3s ease-in-out;
            }
            img:hover {
              transition: all 0.1s ease-in-out;
              opacity: 1;
              scale: 1.1;
            }
          }
        }
        .top-image-area {
          /* background-color: blue; */
        }
        .mid-image-area {
          /* background-color: pink; */
        }
        .bottom-image-area {
          /* background-color: yellow; */
        }
      }
      .portfolio-top-text-area,
      .portfolio-bottom-text-area {
        width: 100%;
        height: 15%;
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        /* background-color: red; */
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
      }
      .portfolio-bottom-text-area {
        gap: 20px;
        .arrow-container {
          cursor: pointer;
          width: 100px;
          height: 50px;
          border-radius: 50px;
          display: flex;
          align-items: center;
          /* background-color: pink; */
          border: 3px solid black;
          position: relative;
          z-index: 30;
          i {
            position: absolute;
            right: 25%;
          }
        }
        .arrow-container:hover i {
          right: 0;
          transition: all 0.5s ease-in-out;
        }
      }
      .portfolio-bottom-text-area,
      .portfolio-top-text-area {
        /* background-color: green; */
        .special-letter {
          /* color: blue; */
          font-family: "Breathing-Text";
          font-size: 3rem;
        }
      }
    }
  }
}

section .view2 {
  width: 100%;
  height: 100%;
  .top {
    width: 100%;
    height: 28%;
    /* background-color: red; */
    display: flex;
    .left,
    .right {
      width: 50%;
      height: 100%;
      /* background-color: blue; */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .left {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 6rem;
      letter-spacing: -4px;
      h1 {
        font-size: 8rem;
        font-weight: 400;
        letter-spacing: -4px;
        .special-letter {
          font-family: "Breathing-Text";
          font-size: 4rem;
        }
      }
    }
    .right {
      /* background-color: green; */
      position: relative;
      .image-container {
        width: 50%;
        height: 60%;
        position: absolute;
        top: 0;
        /* background-color: red; */
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          mix-blend-mode: hard-light;
        }
      }
    }
  }
  .mid{
    width: 100%;
    height: 62%;
    display: flex;
    /* background-color: blue; */
    border-top: 4px solid  rgb(97, 66, 0);
    border-bottom: 4px solid  rgb(97, 66, 0);
    .left{
      width: 35%;
      height: 100%;
      /* background-color: goldenrod; */
      overflow: hidden;
      position: relative;
      img{
        width: 100%;
        object-fit: cover;
        position: absolute;
        bottom: -45%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      img:hover{
        transition: all 0.5s ease-in-out;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
    .right{
      width: 65%;
      height: 100%;
      /* background-color: chartreuse; */
      .nav-box{
        width: 100%;
        height: 25%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: var(--bottom-border);
        padding: 0px 50px;
        position: relative;
        .nav-image-box{
          width: 20%;
          height: 100%;
          /* background-color: red; */
          position: absolute;
          overflow: hidden;
          img{
            width: 100%;
            object-fit: cover;
            opacity: 0;
          }
        }
        h1{
          font-size: 3rem;
          font-weight: 500;
          letter-spacing: -1px;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
      .nav-box:hover img{
            opacity: 1;
            transition: all 0.2s ease-in-out;
        }
      .bottom-nav-box{
        border-bottom: 0px;
      }
    }
  }
}
